.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../../../assets/images/back.jpg");
    background-size: cover;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
    justify-content: center;
    align-self: center;
    background-color: white;
    padding: 2vh 2vw;
    height: 90vh;
}

img{
    width:45%;
    align-self: center;
}

button{
    background-color: #FF9b3D;
    box-shadow: none;
  border-radius: 40px;
  color: white;
  display: inline-block;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0.3px;
  padding: 10px 30px;
  transition: background-color .2s ease, box-shadow .2s ease;
  align-items: center;
  width: 30%;
  align-self: center;
}

.buttons{
    display: flex;
    align-self: center;
    width: 60%;
    margin-left: 14vw;
}