<div class="wrapper">
    <div class="container">
        <img class="pictures" src="{{users.picture}}">
        <p>{{users.name}}</p>
        <p>{{users.age}}</p>
        <p>{{users.sex}}</p>
        <p>{{users.bloody}}</p>
        <p>Description : {{users.describe}}</p>
        <p>{{users.kawai}}</p>
        <!-- <p>{{users.levelscary}}</p>
        <p>{{users.nocturnal}}</p>
        <p>{{users.repulsive}}</p> -->
        <h1>Your Date ?</h1>
        <div class="buttons">
            <button (click)="showModal()">Love</button>
            <button>Trick</button>
        </div>
    </div>
</div>
<app-match [(isModalVisible)]="isModalVisible" *ngIf="isModalVisible"></app-match>