img{
        width: 10vw;
        display:flex;
        flex-direction:row;

    }



 mat-radio-button{
     width: 60%;
     display:flex;
     justify-content: center;
     
 }

mat-radio-label{
    display: flex;
    text-align: center;
    width: 30%;
}



.photo-section{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}

h1{
    font-size: 20px;
    color: #ff9b3d;
    text-align: center;
}
.finish{
background-color: #FF9b3D;
    box-shadow: none;
  border-radius: 40px;
  color: white;
  display: inline-block;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0.3px;
  padding: 10px 30px;
  transition: background-color .2s ease, box-shadow .2s ease;
  align-items: center;
  width: 30%;
}

.photo-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../../../assets/images/back.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
}

.container{
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}