
.photo-display{
        text-align: center;
        margin-bottom: 4vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    } 

    div{
        width: 100%;
    }

img{
        width: 50vw;
    }



// mat-radio-button{
//     width: 40%;
// }

mat-radio-label{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30%;
}

mat-radio-label{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 20%;
} 

.photo-section{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}
