.presentation{
  background: rgba(0, 0, 0, 0.438);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 30vh;
  height: 50vh;
  display: flex;
  align-items: center;
  z-index: 1;
}
h1{
 background-color:white;
}

